<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SentenceSurvey/src/Sentence/DataCollection.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Sentence.DataCollection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="//Users/padelstein/Documents/SentenceSurvey/Data/7.12.12.diff.data.txt &#10;//Users/padelstein/Documents/SentenceSurvey/Data/finalHITids/diff.data.grammar.HITids&#10;//Users/padelstein/Documents/SentenceSurvey/Data/finalHITids/diff.data.content.HITids&#10;//Users/padelstein/Documents/SentenceSurvey/Data/finalHITids/diff.data.simplicity.HITids&#10;-e"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SentenceSurvey"/>
</launchConfiguration>
