<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SentenceSurvey/src/Sentence/SentenceSurvey.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Sentence.SentenceSurvey"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="//home/padelstein/SentenceSurvey/Data/7.12.12.diff.data.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SentenceSurvey"/>
</launchConfiguration>
